<h3>Search For An Artist!</h3>
  <div class="container">
      <input id="searchArtist" class="form-control">
      <button id="searchArtist">Submit </button>
  </div>    

<h3>Search For An Album!</h3>
  <div class="container">
      <input id="searchAlbum" class="form-control">
      <button id="searchAlbum">Submit </button>
  </div>    
